.btn {
	display: block;
	cursor: pointer;
	outline-color: transparent;
	border-radius: 1rem;
	border: 1px solid transparent;
	background: var(--clr-accent-300);
	color: rgb(27, 27, 27);
	padding: 1rem 6rem;
	font-size: var(--fs-300);
	font-family: inherit;
	font-weight: 700;
	text-transform: capitalize;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
		0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);

	&.small {
		padding-inline: 2rem;
	}

	&.small-height {
		padding: 0.5rem 2rem;
	}

	&.primary {
		background: var(--clr-primary-100);
		color: var(--clr-accent-200);
	}

	&.secondary {
		background: var(--clr-primary-200);
		color: var(--clr-accent-200);
	}

	&.accent {
		background: var(--clr-accent-100);
		color: var(--clr-primary-100);
	}

	&.disabled {
		background: var(--clr-accent-400) !important;
		color: var(--clr-accent-300) !important;
		cursor: not-allowed;
	}

	&.link {
		background: transparent;
		text-decoration: underline;
		border: none;
		border-radius: 0;
		padding: 0;
	}

	&.outline {
		background: transparent;
	}

	&.disabled,
	&.link,
	&.outine,
	&.no-shadow {
		box-shadow: none;
	}
}
