.tier-card {
	background: var(--clr-accent-100);
	border-radius: 2rem;
	padding: 2rem;
	width: fit-content;
	display: grid;
	justify-items: center;
	align-items: center;
	text-align: center;
	gap: 2rem;

	&__close {
		justify-self: flex-end;
		cursor: pointer;
	}

	&__items {
		font-size: var(--fs-200);
		& > * {
			list-style: disc;
			text-align: left;
		}
	}

	& p:nth-of-type(2) {
		width: 50ch;
	}

	&__preview {
		position: relative;
		height: fit-content;
		width: fit-content;
	}

	&__preview-image {
		border-radius: 1rem;
	}

	&__close-preview {
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
	}

	&__image {
		cursor: pointer;
	}
}
