.school-card {
	height: fit-content;
	width: 46rem;
	cursor: pointer;
	margin-bottom: 3rem;

	& h4 {
		text-decoration: underline;
	}

	&__desc {
		padding-block: 1rem;
		height: 6rem;

		& > p {
			text-align: center;
			margin-block: 1rem;
		}
	}

	&__top-content {
		padding: 1rem;
		display: flex;
		align-items: center;
	}

	&__image {
		object-fit: cover;
		object-position: right;
		margin-block: 1rem;
	}

	&__content {
		padding: 2rem 1rem;
		margin-top: 1rem;
		border-top: 1px solid var(--clr-accent-200);
		display: flex;
		gap: 1rem;
	}

	&__chart {
		width: 20rem;
		height: 20rem;
	}

	&__topic {
		margin-bottom: 1rem;
		& > span {
			height: 1.5rem;
			width: 1.5rem;
			border-radius: 50%;
			display: block;

			&:nth-child(1) {
				background:#ffffff;
			}
		}
		&:nth-child(2) > span {
			background: #797979;
		}

		&:nth-child(3) > span {
			background: #6b8065;
		}

		&:nth-child(4) > span {
			background: #395241;
		}

		&:nth-child(5) > span {
			background: #374756;
		}

		&:nth-child(6) > span {
			background: #003300;
		}
	}
}
