@use "../../styles/sass/abstracts/mixins" as *;

.donors-portal {
  padding: 2rem 1rem;
  // commented the line below to avoid the overflow on the footer section
  //   height: 100vh;

  &__assets {
    // flex-wrap: wrap;
    max-width: fit-content;
    display: grid;
    margin: 3rem auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;

    @include mq(small) {
      grid-template-columns: repeat(3, 1fr);
    }
    &_header {
      grid-column: 1/-1;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-size: 1.5rem;
      }
      div.icons {
        display: flex;
        align-items: stretch;
        border-radius: 0.5rem;
        overflow: hidden;
        button {
          padding: 0.6rem 0.8rem;
          background: rgb(167, 161, 161);
          display: flex;
          align-items: center;
          border: 0;
        }
      }
      @include mq(small) {
        h1 {
          font-size: 2.5rem;
        }
      }
    }
  }

  &__no-donation {
    text-align: center;
  }
}
