.scholarship-pool {
	padding-top: 6rem;
	padding-bottom: 4rem;
	display: grid;
	gap: 3rem;
	align-items: center;

	.OpenButton {
		background-color: transparent;
		max-width: fit-content;
		display: grid;
		cursor: pointer;
		justify-self: end;
		margin-top: 0;
	}

	&__title {
		text-align: center;
		display: flex;
		align-items: center;
		gap: 3rem;
		justify-content: center;

		button {
			// Add styling for the button if needed later
		}
	}

	&__header-text {
		text-align: center;
	}

	&__potrait-section {
		text-align: center;
		padding-inline: 6rem;

		& > * {
			margin: 3rem 0;
		}
	}

	&__potrait-cards {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 3rem;
		flex-wrap: wrap;
	}

	&__landscape-card {
		display: grid;
		gap: 2rem;
	}
}

.donate-modal {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	flex-direction: column;
	padding-block: 3rem;
	text-align: center;

	& h3,
	& h2 {
		width: 22.5ch; // Center align h3 and h2
	}

	& p {
		width: 50ch;
	}
}

.flex-gap-two {
	gap: 0rem;
	margin-top: 0;
}
