.scholar-progress {
	  padding: 2rem 1rem;

	& > h2 {
		text-align: center;
	}

	& > section {
		width: 85%;
		padding: 4rem;
		margin-inline: auto;
	}

	&__student-list {
		background: var(--clr-accent-100);
		padding-block: 2rem;
		margin-block: 2rem;
		border-radius: 2rem;

		&--head {
			padding-inline: 8rem 2rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-block: 0 2rem;
		}
	}
}
