@use '../abstracts/mixins' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	box-sizing: inherit;
}

body {
	font-family: 'Poppins';
}

a {
	text-decoration: none;
	color: initial;
}

a:focus-visible {
	color: var(--clr-primary-100);
}

ul,
li {
	list-style: none;
}

.container {
	padding-inline: 2rem;

	@include mq(small) {
		padding-inline: 6rem;
	}

	@include mq(medium) {
		padding-inline: 10rem;
	}
}
