// body {
//   min-height: 100vh;
//   display: grid;
//   grid-template-rows: auto 1fr auto;
// }

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	box-sizing: inherit;
}

body {
	font-family: 'Poppins';
}

a {
	text-decoration: none;
	color: initial;
}

a:focus-visible {
	color: var(--clr-primary-100);
}

ul,
li {
	list-style: none;
}
