h1,
h2,
h3,
h4,
h5 {
	font-weight: bold;
	font-stretch: 100%;
	line-height: 1.1;
}

h1 {
	--font-weight: 900;
}

// This is setting the font-sizes
// based on the ones in the abstract
// folder, go there to make updates

h1 {
	font-size: var(--fs-800);
}

h2 {
	--flow-spacer: 1.5em;
	font-size: var(--fs-700);
}
h3 {
	--flow-spacer: 1.5em;
	font-size: var(--fs-600);
}

h4 {
	font-size: var(--fs-400);
}

h5 {
	font-size: var(--fs-300);
}

p {
	font-size: var(--fs-300);
}
