.student-progresscard {
	border-bottom: 1px solid rgba(255, 255, 255, 0.473);
	padding: 0.5rem 0 1.5rem;
	width: 100%;
	align-items: baseline;
	flex-wrap: wrap;

	&__image-placeholder {
		background: var(--clr-primary-400);
		color: var(--clr-accent-200);
		width: 8rem;
		height: 8rem;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: var(--fs-600);
	}
}
