@forward '../pages/homepage';
@forward '../../../pages/kagumo/donate';
@forward '../../../pages/legends/legends';
@forward '../../../pages/progress/progress';
@forward '../../../pages/scholarship-pool/scholarshippool';
@forward '../../../pages/directed-donate/directeddonate';
@forward '../../../pages/nfts/nfts';
@forward '../../../pages/update-metadata/updatemetadata';
@forward '../../../pages/donors-portal/[id]/scholarsprogress';
@forward '../../../pages/donors-portal/nft-gallery/nftgallery';
@forward '../../../pages/donors-portal/events/events';
@forward '../../../pages/donors-portal/bootcamp/bootcamp';
