@use "../../styles/sass/abstracts/mixins" as *;

.nft-portal {
  padding: 2rem 1rem;

  &__assets {
    max-width: fit-content;
    display: grid;
    margin: 3rem auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;

    @include mq(small) {
      grid-template-columns: repeat(5, 1fr);
    }
    &_header {
      grid-column: 1/-1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      input[type="text"] {
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        font-size: 16px;
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
      }
      input[type="text"]:focus {
        outline: none;
      }

      h3 {
        font-size: 2.5rem;
        text-align: center;
      }
      div.filter {
        display: flex;
        align-items: right;
        border-radius: 0.5rem;
        overflow: hidden;
        button {
          padding: 0.6rem 0.8rem;
          background: rgb(167, 161, 161);
          display: flex;
          align-items: center;
          border: 0;
        }
      }
      @include mq(small) {
        h1 {
          font-size: 2.5rem;
        }
      }
    }
  }

  &__no-donation {
    text-align: center;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
