@use '../../styles/sass/abstracts/mixins' as *;


.donations_container{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    color: #1A1A1A;
    min-height: 80vh;

    .head{
        width: 90%;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        p{
            padding: 5rem, 0;
            width: 70%;
        }
        @include mq(medium) {
            padding-inline: 8rem;
            width: 50%;
        }
    }
   
   
}


.donation_type_container{
    display: flex;
    flex-direction: column ;
    align-items: center;
    border : 1px solid #EBEBEB;
    padding: 2rem;
    width: 80%;
    margin-bottom: 2rem;
    min-height: auto    ;
    border-radius: 5px;
    @include mq(medium) {
        width: 30%;
    }
    .option_buttons{

        display: flex;
        gap: 1.5rem;
        justify-content: center;
        button{
            color:#4D6F58;
            border: 1px solid #4D6F58;
            padding: 10px 20px;
            border-radius: 5px;
            margin: 10px 0;
            cursor: 'pointer';
            width: 10rem;

            @include mq(small) {
                width: 16rem;
            }
        }
    }
}

.donate_container{
    display: flex;
    flex-direction: column ;
    align-items: center;
    border : 1px solid #EBEBEB;
    padding: 2rem;
    width: 80%;
    margin-bottom: 2rem;
    min-height: auto    ;
    border-radius: 5px;
    @include mq(medium) {
        width: 30%;
    }
    .period_buttons{
        display: flex;
        gap: 1.5rem;
        button{
            color:#4D6F58;
            border: 1px solid #4D6F58;
            padding: 10px 20px;
            border-radius: 5px;
            margin: 10px 0;
            cursor: 'pointer';
            width: 10rem;
            @include mq(small) {
                width: 16rem;
            }
        }
    }
    .amount{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
        .amount_head{
            display: flex;
            align-items: center;
            gap: 1rem;
            justify-content: center;
            /* Toggeler */
            .toggler{
                display: flex ;
                align-items: center;
                gap: 0.5rem;

             
            }
        }

      .amount_buttons{
        display: flex;
        gap: 0.5rem;
        button{
            color:#4D6F58;
            border: 1px solid #4D6F58;
            border-radius: 5px;
            margin: 10px 0;
            cursor: 'pointer';
            width: fit-content;
            padding: 10px 20px;
            
        }
      }

      .custom_input{
        display: flex;
        
        input{
            border: 1px solid #4D6F58;
            border-radius: 5px;
            padding: 10px 20px;
            width: 10rem;
            margin: 10px 0;
        }
      }
    }
}
.payment_container{
    display: flex;
    flex-direction: column ;
    align-items: center;
    border : 1px solid #EBEBEB;
    padding: 2rem;
    width: 80%;
    margin-bottom: 2rem;
    min-height: auto    ;
    border-radius: 5px;
    @include mq(medium) {
        width: 30%;
    }
.method_buttons{
    display: flex;
    gap: 1.5rem;
    button{
        color:#4D6F58;
        border: 1px solid #4D6F58;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 10px 0;
        cursor: 'pointer';
        width: 16rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        justify-content: center;
        width: 100px;
        height: 100px;
        @include mq(small) {
          width: 150px;
          height: 100px;
          }
        .icon {
            font-size: 2rem;
        }
    }
}

}


/* Toggle stwitch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #4D6F58;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #4D6F58;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }