.connect-wallet {
	padding: 1rem;
	color: var(--clr-primary-100);
	position: relative;

	& li {
		display: flex;
		justify-content: space-between;
		margin-top: 1rem;
		padding-block: 1rem;
		cursor: pointer;

		&:not(:last-child) {
			border-bottom: 1px solid var(--clr-accent-300);
		}
	}

	& span {
		font-size: var(--fs-300);
	}

	&__disconnect {
		display: flex;
		justify-content: center;
	}
}

.connect-button {
	display: flex;
	gap: 1rem;
	align-items: center;
}


.error__modal-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	border-radius: 5px;
	padding: 2rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	width: 50rem;
	height: 30rem;
	.error__modal-title{
		font-size: 1rem;
		font-weight: bold;
	}
	.error__modal-body{
		font-size: 1.4rem;
		text-align: center;
	
	}
	.error__modal-footer{
		margin-top: 5rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}