// The colors are broken that to utilities number based on the color hue

$colors: (
	primary: (
		100: #395241,
		200: #6b8065,
		300: #374756,
	),
	accent: (
		100: #f3eee2,
		200: #fdfdfd,
		300: #c8c8c8,
	),
);
