$type-scale: (
	small: (
		// Minor third
		300: 1rem,
		400: 1.125rem,
		500: 1.563rem,
		600: 1.953rem,
		700: 2.441rem,
		800: 3.052rem,
	),
	big: (
		// Augmented fourth
		100: 1rem,
		200: 1.25rem,
		300: 1.5rem,
		400: 1.8rem,
		500: 2rem,
		600: 2.827rem,
		700: 4rem,
		800: 5.653rem,
	),
);
