@use './sass/abstracts';
@use './sass/base';
@use './sass/components';
@use './sass/pages';
@use './sass/layouts/layout';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    width: 100vw;
    overflow-x: hidden;

}