.donors__content{
    width: 100%;
    min-height:fit-content;
    display: grid;
    grid-template-columns: 18% 82%;
    .donors__nav{
        background: #F7F7F4;
        min-height: 100vh;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 2rem;
        a{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;
            color: black;
            width: 80%;
            padding: 0.5rem;
            border-radius: 0.7rem;
            font-size: 0.1rem;
            &:hover{
                color:white;
                background-color: #6B8065;
            }
        }
    }
}