@use '../../styles/sass/abstracts/mixins' as *;

.donate-banner {
	position: relative;
	overflow: hidden;
	height: 25rem;

	&__image {
		object-fit: contain;
		object-position: top;
	}
}

.donate {
	width: 100%;
	padding: 1rem 0;

	&__title-section {
		display: grid;
		grid-template-columns: 2fr 3fr;
		align-items: center;
		// justify-content: center;
	}

	&__donations {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 2rem 0;
	}

	&__donations-amounts {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 2.5rem;
		justify-items: center;
		justify-content: center;
		margin: 2rem 0;
	}

	&__nft-content {
		gap: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__nft-image {
		border-radius: 1rem;
		cursor: pointer;
	}
}

.go-back {
	// justify-self: flex-start;
	// margin-right: auto;
}

//Confirm page

.confirm-donation {
	width: 100%;
	padding: 1rem 1rem;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 3rem 0;
	}

	&__items {
		margin: 1rem auto;
		width: 60%;
		height: fit-content;
		padding: 1.25rem;
		border-radius: 0.5rem;
		background: var(--clr-accent-100);

		@include mq(small) {
			width: 50%;
		}
	}

	&__list {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		font-size: var(--fs-300);
		margin-bottom: 2rem;

		& > span:nth-child(2) {
			flex-basis: 60%;
			text-align: left;
		}
	}
}
